
/* Layout */
:root {
    --bs-btn-border-color: var(--bs-accordion-active-bg);
}

button img {
    width: 100px;
    height: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Components */

/* Bootstrap classes */

.accordion-button {
    background-color: var(--bs-accordion-active-bg);
}

.bg-primary-subtle {
    background-color: #cfe2ff6b!important;
}

.bg-light-subtle {
    background-color: #f8f9fa!important;
}

.col-form-label {
    padding: calc(.375rem + var(--bs-border-width));
}

/* Other classes */

.grid-select {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.grid-select select {
    width: 60%;
}

.grid-select label {
    width: 40%;
}
 
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}

@media screen and (max-width: 700px) {
    .overview-container2
    {
        grid-template-columns: 100%!important;
        grid-template-areas: 
            "header"
            "main"
            "footer"!important;
    }
}

.img-thumbnail {
    background-color: var(--bs-light);
}
.flex-col {
    flex-direction: column;
}

.overview-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "header header"
        "main main";
    width: 70%;
    margin: auto;
}

.overview-container div label {
    padding-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.overview-container div label p {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    margin-top: 0;
    margin-bottom: 0;
}

.overview-container div div {
    min-height: 24px;
}

.overview-container > :first-child {
    grid-area: header;
}

.overview-container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    width: 90%;
    margin: auto;
}

.overview-container2 > :last-child {
    grid-area: footer;
}

.grid {
    display: grid;
    grid-template-columns: 90% 10%;
}

.svg {
    text-align: center;
}

.name-container {
    grid-area: 3 / 1 / span 1 / span 2;
}

#save-area {
    grid-area: 2 / 1 / span 1 / span 2;
}

/* Utiliy */
.small-font {
    font-size: small;
}

.flash {
    animation: flash 1.1s ease-out;
}

@keyframes flash {
    0%   { outline: auto; }
    100% { outline: transparent!important; }
}
