/* *
{
    outline: 1px solid tomato;
} */

:root 
{
    --bs-btn-border-color: var(--bs-accordion-active-bg);
}

html, body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.grid-select
{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.col-form-label 
{
    padding: calc(.375rem + var(--bs-border-width));
}

.grid-container
{
    display: grid;
    grid-template-columns: 100%;
    
    gap: 1rem;
}

.bg-light-subtle
{
    background-color: #f8f9fa!important;
}

.flex-col 
{
    flex-direction: column;
}

.small-font 
{
    font-size: small;
}

.overview-container
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "header header"
        "main main";
    width: 70%;
    margin: auto;
}
.overview-container2
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";

    width: 90%;
    margin: auto;
}
.overview-container2 > :first-child
{
    grid-area: header;
}

.overview-container2 > :last-child
{
    grid-area: footer;
}

.overview-container div label
{
    padding-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.overview-container div label p
{
    margin: 0;
}

.overview-container div div
{
    min-height: 24px;
}

.overview-container > :first-child
{
    grid-area: header;
}

.grid
{
    display: grid;
    grid-template-columns: 90% 10%;
}

.svg
{
    text-align: center;
}

.accordion-button 
{
    background-color: var(--bs-accordion-active-bg);
}

.name-container 
{
    grid-area: 3 / 1 / span 1 / span 2;
}

#save-area
{
    grid-area: 2 / 1 / span 1 / span 2;
}

.grid-select select 
{
    width: 60%;
}

.grid-select label
{
    width: 40%;
}

#overview .overview-container
{
    grid-template-areas: ;
}

@media screen and (max-width: 1024px) {
    .grid-container 
    {
        grid-template-columns: 100%;
    }
}